
@using EntityLayer.Concrete
@model Blog

@{
    ViewData["Title"] = "EditBlog";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h1>Edit Blog Page</h1>
<br />
@using (Html.BeginForm("EditBlog", "Blog", FormMethod.Post))
{
    @Html.Label("Blog ID")
    @Html.TextBoxFor(x => x.BlogID, new { @class = "form-control" })
    <br />

    @Html.Label("Blog Title")
    @Html.TextBoxFor(x => x.BlogTitle, new { @class = "form-control" })
    <br />

    @Html.Label("Blog ThumbNail URL")
    @Html.TextBoxFor(x => x.BlogThumbNailImage, new { @class = "form-control" })
    <br />

    @Html.Label("Blog Image URL")
    @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })
    <br />

    @Html.Label("Blog Category")
    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.cv, new { @class = "form-control" })
    <br />

    @Html.Label("Blog Content")
    @Html.TextAreaFor(x => x.BlogContent, 10, 3, new { @class = "form-control" })
    <br />

    <button class="btn btn-success">Update Blog</button>
}
