
@using EntityLayer.Concrete
@model List<Message2>

@{
    ViewData["Title"] = "SendBox";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h1>Send Box</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Subject</th>
        <th>Sender</th>
        <th>Receiver</th>
        <th>Date</th>
        <th>Open This Message</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.MessageID</th>
            <td>@item.MessageSubject</td>
            <td>@item.SenderUser.WriterName</td>
            <td>@item.ReceiverUser.WriterName</td>
            <td>@(((DateTime)item.MessageDate).ToString("dd-MMM-yyyy"))</td>
            <td><a href="/Message/MessageDetails/@item.MessageID" class="btn btn-warning">Open This Message</a></td>
        </tr>
    }
</table>
<a href="~/Message/SendMessage" class="btn btn-primary">Create a New Message</a>
